<p style="color: green"><%= notice %></p>

<%= render @user_sleep %>

<div>
  <%= link_to "Edit this user sleep", edit_user_sleep_path(@user_sleep) %> |
  <%= link_to "Back to user sleeps", user_sleeps_path %>

  <%= button_to "Destroy this user sleep", @user_sleep, method: :delete %>
</div>
